<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link href="#getCssFolder()/css.css" rel="stylesheet" type="text/css" />		
		<script type="text/javascript" language="javascript" src="#getJs()/My97DatePicker/WdatePicker.js" charset="UTF-8"></script>
		<script type="text/javascript" language="javascript" src="#getJs()/jquery-1.8.0.js" charset="UTF-8"></script>
        <script type="text/javascript" language="javascript" src="#getJs()/order/statusQueryList.js"></script>
		<script type="text/javascript" language="javascript" src="#getJs()/util.js" charset="UTF-8"></script>
    </head>
	<body>
		<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
			<tbody>
				<tr>
					<th class="bg_tr_new" colspan="2" height="40">您现在的位置 > 收入管理 >  状态查询
					</th>
				</tr>
			</tbody>
		</table>
		<form method="post" action="statusQuery.do" name="myform" id="myform">
			<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
                <tbody>
					<input type="hidden" id="decFlag" name="decFlag" value="$!{_decFlag}"/>
    				<tr>
                        <th class="bg_tr_new" style="text-align:left;" height="30">
							订单统计
						</th>
                    </tr>
					<tr>
                        <td class="td_bg"  style="text-align:left;">
							业务名称：
							<select name="gameInfoId" id="gameInfoId">
								<option value="">--请选择业务--</option>
								#foreach(${gameInfo} in ${gameList})
									<option value="$!{gameInfo.id}" #if(${gameInfo.id} == ${_gameInfoId}) selected="selected"  #end>$!{gameInfo.gameName}</option>
								#end
                            </select>&nbsp;&nbsp;
							渠道名称：
							<select name="chnlInfoId" >
									<option value="">--请选择渠道--</option>
								#foreach($chnlInfo in $!chnlList)
									<option value="$!{chnlInfo.id}" #if($chnlInfo.id == ${_chnlInfoId}) selected="selected" #end >$!{chnlInfo.chnlName}</option>
								#end
							</select>
							省份：
							<select name="providerId" >
									<option value="">--请选择省份--</option>
    								<option value="安徽" #if(${_providerId} == "安徽") selected="selected" #end>安徽</option>
                        			<option value="北京" #if(${_providerId} == "北京") selected="selected" #end>北京</option>
                        			<option value="福建" #if(${_providerId} == "福建") selected="selected" #end>福建</option>
                        			<option value="甘肃" #if(${_providerId} == "甘肃") selected="selected" #end>甘肃</option>
                        			<option value="广东" #if(${_providerId} == "广东") selected="selected" #end>广东</option>
                        			<option value="广西" #if(${_providerId} == "广西") selected="selected" #end>广西</option>
                        			<option value="贵州" #if(${_providerId} == "贵州") selected="selected" #end>贵州</option>
                        			<option value="海南" #if(${_providerId} == "海南") selected="selected" #end>海南</option>
                        			<option value="河北" #if(${_providerId} == "河北") selected="selected" #end>河北</option>
                        			<option value="河南" #if(${_providerId} == "河南") selected="selected" #end>河南</option>
                        			<option value="黑龙江" #if(${_providerId} == "黑龙江") selected="selected" #end>黑龙江</option>
                        			<option value="湖北" #if(${_providerId} == "湖北") selected="selected" #end>湖北</option>
                        			<option value="湖南" #if(${_providerId} == "湖南") selected="selected" #end>湖南</option>
                        			<option value="吉林" #if(${_providerId} == "吉林") selected="selected" #end>吉林</option>
                        			<option value="江苏" #if(${_providerId} == "江苏") selected="selected" #end>江苏</option>
                        			<option value="江西" #if(${_providerId} == "江西") selected="selected" #end>江西</option>
                        			<option value="辽宁" #if(${_providerId} == "辽宁") selected="selected" #end>辽宁</option>
                        			<option value="内蒙古" #if(${_providerId} == "内蒙古") selected="selected" #end>内蒙古</option>
                        			<option value="宁夏" #if(${_providerId} == "宁夏") selected="selected" #end>宁夏</option>
                        			<option value="青海" #if(${_providerId} == "青海") selected="selected" #end>青海</option>
                        			<option value="山东" #if(${_providerId} == "山东") selected="selected" #end>山东</option>
                        			<option value="山西" #if(${_providerId} == "山西") selected="selected" #end>山西</option>
                        			<option value="陕西" #if(${_providerId} == "陕西") selected="selected" #end>陕西</option>
                        			<option value="上海" #if(${_providerId} == "上海") selected="selected" #end>上海</option>
                        			<option value="四川" #if(${_providerId} == "四川") selected="selected" #end>四川</option>
                        			<option value="天津" #if(${_providerId} == "天津") selected="selected" #end>天津</option>
                        			<option value="西藏" #if(${_providerId} == "西藏") selected="selected" #end>西藏</option>
                        			<option value="新疆" #if(${_providerId} == "新疆") selected="selected" #end>新疆</option>
                        			<option value="云南" #if(${_providerId} == "云南") selected="selected" #end>云南</option>
                        			<option value="浙江" #if(${_providerId} == "浙江") selected="selected" #end>浙江</option>
                        			<option value="重庆" #if(${_providerId} == "重庆") selected="selected" #end>重庆</option>
							</select>&nbsp;&nbsp;
							状态：
							<select name="status" id="status">
								<option value="">--请选择状态--</option>
								<option value="1" #if(${_status} == 1) selected="selected"  #end>成功</option>
								<option value="0" #if(${_status} == 0) selected="selected"  #end>失败</option>
                            </select>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td class="td_bg"  style="text-align:left;">
							订单日期：
							<input type="text"  name="startDay" id="startDay" size="8" value="$!{_startDay}" onfocus="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyyMMdd',alwaysUseStartDate:true})"/>
							——
							<input type="text"  name="endDay" id="endDay" size="8" value="$!{_endDay}" onfocus="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyyMMdd',alwaysUseStartDate:true})"/>
						</td>
                    </tr>	
					<tr>
						<td class="td_bg">
							手机号：
                            <textarea name="phonenos" style="width:200px; height:300px; overflow-y:visible;">$!{_phonenos}</textarea>
						</td>
                    </tr>
					<tr>
						<td class="td_bg"  style="text-align:left;">
							是否统计：
							<select name="isCount" >
    								<option value="1" #if(${_isCount} == "1") selected="selected" #end>统计</option>
                        			<option value="2" #if(${_isCount} == "2") selected="selected" #end>不统计</option>
							</select>&nbsp;&nbsp;
                            <input type="checkBox" name="extBox"  #if(${extChecked} == 1)  checked=checked #end value="extBox">EXT统计</input>
						</td>
                    </tr>
					<tr>
						<td class="td_bg" style="text-align:left;">
							<input type="button" id="search" value="查 询"  style="width: 60px;"/>&nbsp;&nbsp;
							<input type="button" id="export" value="导 出"  style="width: 60px;"/>&nbsp;&nbsp;
						</td>
					</tr>
				</tbody>
            </table>
        </form>
		<form action="statusQuery.do" method="post" name="pagedform" id="pagedform">
			<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
				<tbody>
					<tr align="center">
						<td class="bg_tr" width="1%">
							序号
						</td>
						#if($!{_isCount} == 2)
							<td class="bg_tr" width="2%" height="23">自定义参数</td>
							<td class="bg_tr" width="2%" height="23">手机号</td>
							<td class="bg_tr" width="2%" height="23">省份</td>
							<td class="bg_tr" width="2%" height="23">业务</td>
							<td class="bg_tr" width="2%" height="23">道具</td>
							<td class="bg_tr" width="2%" height="23">渠道</td>
							<td class="bg_tr" width="2%" height="23">计费状态</td>
							<td class="bg_tr" width="2%" height="23">同步状态</td>
							<td class="bg_tr" width="2%" height="23">同步时间</td>
						#else
							<td class="bg_tr" width="2%" height="23">状态</td>
							<td class="bg_tr" width="2%" height="23">次数</td>
						#end
						<td class="bg_tr" width="2%" height="23">hret</td>
						<td class="bg_tr" width="2%" height="23">ext</td>
					</tr>
					#foreach($statusQuery in $!{statusQueryList})
						<tr align="center">
							<td class="td_bg">${velocityCount}</td>
							#if($!{_isCount} == 2)
								<td class="td_bg">$!{statusQuery.cpparam}</td>
								<td class="td_bg">$!{statusQuery.phoneno}</td>
								<td class="td_bg">$!{statusQuery.state}</td>
								<td class="td_bg">$!{statusQuery.productName}</td>
								<td class="td_bg">$!{statusQuery.consumeName}</td>
								<td class="td_bg">$!{statusQuery.chnlName}</td>
								<td class="td_bg">$!{statusQuery.status}</td>
								<td class="td_bg">$!{statusQuery.syncchnl}</td>
								<td class="td_bg">$!{fullDate.format($!{statusQuery.recvTime})}</td>
							#else
								<td class="td_bg">$!{statusQuery.status}</td>
							<td class="td_bg">$!{statusQuery.times}</td>
							#end
							<td class="td_bg">$!{statusQuery.hret}</td>
							<td class="td_bg">
								 #set($str=$!{statusQuery.ext}) 
                                    #if($str.length()>200)
                                      #set($str=$str.substring(0,200))
                                   $str ...
                                   #else
                                      $!{statusQuery.ext}
                                     #end
							</td>
						</tr>
					#end
					<tr>
						<td class="td_bg" align="center" colspan="12" style="border-left: 0px;">
							#renderPageInfo(${pagedModelList})
			               	<input  type="hidden" id="pageId" name="pageId" value="$!{pagedModelList.pageId}" />
			               	<input  type="hidden" name="gameInfoId" value="$!{_gameInfoId}" />
			               	<input  type="hidden" name="chnlInfoId" value="$!{_chnlInfoId}" />
							<input  type="hidden" name="status" value="$!{_status}" />
							<input  type="hidden" name="startDay" value="$!{_startDay}" />
			               	<input  type="hidden" name="endDay" value="$!{_endDay}" />
							<input  type="hidden" name="phonenos" value="$!{_phonenos}"/>
							<input  type="hidden" name="providerId" value="$!{_providerId}" />
							<input  type="hidden" name="isCount" value="$!{_isCount}" />
			               	<input  type="hidden" id="pageNum" name="pageNum" value="$!{pagedModelList.pageCount}" />
			            </td>
					</tr>
				</tbody>
			</table>
		</form>
    </body>
</html>