<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link href="#getCssFolder()/css.css" rel="stylesheet" type="text/css">
	</head>
	<body> 
		 <table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
			<tbody>
				<tr>
		      		<th class="bg_tr_new"  colspan="2" height="40">您现在的位置 > 登录成功 
		     		</th>
		    	</tr>
			</tbody>
		</table>
		<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
			<tbody>
		    	<tr>
		      		<th class="bg_tr" align="left" colspan="2" height="25">
		      			运营后台系统版本
		      		</th>
		    	</tr>
		    	<tr>
		      		<td class="td_bg" width="17%" height="23">
		      			当前版本<span class="TableRow2"></span>
		      		</td>
		      		<td width="83%" class="td_bg">
		      			<strong>
		      				version 1.0 2014-11-29
		      				<span class="TableRow1"></span>
		      			</strong>
		      		</td>
		    	</tr>
		    	<tr>
		      		<td class="td_bg" width="17%" height="23">
		      			版权声明<span class="TableRow2"></span>
		      		</td>
		      		<td class="td_bg" width="83%">
		      			不受法律保护
		      		</td>
		    	</tr>
		  	</tbody>
		</table>
	</body>
</html>
