<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>修改密码页面</title>
<link href="#getCssFolder()/login_css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="#getJs()/jquery-1.8.0.js" charset="UTF-8"></script>
<script type="text/javascript" language="javascript" src="#getJs()/login/updatePassword.js" charset="UTF-8"></script>
</head>
	<body>
		<div style="position: absolute;left: 20%;top:20%;background-color:#f0ffff">
        <table width="350px;"  style="margin-top:10px;margin-left:80px;"> 
            <tr>
			   <td style="padding-left:50px;"><a style="color:green;" id="update1" ></a></td>
			</tr>
            <tr>
				<td style="padding-left:50px;"><a style="color:red;" id="update2" ></a></td>
			</tr>
			<tr> 
				<td>
            		<form name="updateform"  method="post" action="updatePassword.do" onsubmit="return checkPassworld();" >
            			<table>
                    		<tr>
                      			<td width="60" height="30" align="left">原始密码</td>
                      			<td>
                      				<input id="oldPassword" name="oldPassword" type="password" size="14" maxlength="20" style="border:solid 1px #27B3FE; height:20px; background-color:#FFFFFF" onblur="checkOld();"  >
                      			</td>
            					<td>
                      				<span style="color:red;" id="old" ></span><span style="color:red">$!{updatemsg}</span>
                      			</td>
                    		</tr>
                    		<tr>
                      			<td height="30" align="left">新密码</td>
                      			<td>
                      				<input id="newPassword" name="newPassword" type="password" size="14" maxlength="20" style="border:solid 1px #27B3FE; height:20px; background-color:#FFFFFF" onblur="checkNew();" >
                      			</td>
								<td>
                      				<span style="color:red;" id="new" ></span>
                      			</td>
            	            </tr>
                		    <tr>
                      			<td height="30">确认新密码</td>
            		  			<td>
            		  				<input  id="confirmNewPassword" name="confirmNewPassword" type="password" size="14"  maxlength="20" style="border:solid 1px #27B3FE; height:20px; background-color:#FFFFFF" onblur="checkCofirm();" >
            	      			</td>
								<td>
                      				<span style="color:red;" id="confirmnew"></span>
                      			</td>
                    		</tr>
                  			<tr>
                      			<td colspan="2"  align = "center">
        						    <input type="submit"  name="submit"  value="修&nbsp;&nbsp;改"   />
            						<input type="reset"   name="reset"   value="重&nbsp;&nbsp;置"  onclick="clearMsg();" />
            					</td>
            		  		</tr>
            			</table>
            		</form> 
			   </td>  
			</tr> 
        </table>
		</div>
	</body>
</html>